div{
  font-size: 1.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  background-color: #fefefe;
}

::-webkit-scrollbar{
  display: none;
}

.content-div{
  margin: 5rem;
}