div{
  font-size: 1.3rem;
}

*{
  font-family: 'Montserrat';
}

.App {
  background-color: #fefefe;
}

::-webkit-scrollbar{
  display: none;
}

.content-div{
  margin: 5rem;
}

@media screen and (max-width: 600px){
  .content-div{
    margin: 4rem;
  }
}